body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* My own added rules */

#header {
  padding: 3rem;
  margin-bottom: -2.5rem;
  width: 100%;
  color: white;
}

.image {
  height: 25rem;
  background-size: cover;
  margin-top: -3rem;
}

#propertyValue::placeholder,
#commonAreasValue::placeholder {
  color: #5bc0de;
}

form {
  display: flex;
}

.form-group {
  width: 20rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

button {
  margin-left: 2rem;
}

input {
  max-width: 10rem;
}

.submitDiv {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
